@media screen and (min-width: 576px) {
  .product-cards-container {
    grid-template-columns: 1fr;
  }
  .product-card-name{
    font-size: 14px;
  }
  .buy-button{
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60vw;
  }
  .product-card-name{
    font-size: 16px;
  }
  .buy-button{
    height: 50px;
  }
}

@media screen and (min-width: 992px) {
  .product-card-name{
    font-size: 18px;
  }
  .buy-button{
    height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .product-card-name{
    font-size: 20px;
  }
  .buy-button{
    height: 60px;
  }
}