$desktop: 1200px;
$laptop: 992px;
$tablet:768px;
$phone: 480px;

@media screen and (min-width: 100px){
  body{
    .product-cards-container {
      grid-template-columns: 1fr;
      max-width: 40vw;
    }
    .product-card-name{
      font-size: 12px;
    }
    .buy-button{
      height: 45px;
    }
    .cart-container{
      padding-left: 8px;
      padding-right: 0px;
    }
    .cart-title-div{
      h4{font-size: 14px;}
      .fa-heart{font-size: 14px;}
    }
    .cart-product-name{
      h2{font-size: 12px;}
    }
    .empty-cart-text-main{
      font-size: 12px;
    }
    .empty-cart-text{
      font-size: 10px;
    }
    .fa-shopping-bag{
      font-size: 35px;
    }
    input[type="number"] {
      width: 8px;
      margin-top: 2px;
      font-size: 10px;
    }
    .fa-times-circle{
      font-size: 8px;
    }
    .cart-product-unit-price, .cart-product-total-price, .cart-total-amount-sku, .cart-total-price, .cart-total-title{
      font-size: 10px;
    }
    .update-amount-btns-size{
      .btn{font-size: 10px;}
    }
    .update-amount{
      form{ height: 22px;}
    }
  }  
}

@media screen and (min-width: $phone) {
  body{
    .product-cards-container {
      grid-template-columns: 1fr;
      max-width: 50vw;
    }
    .product-card-name{
      font-size: 14px;
    }
    .buy-button{
      height: 45px;
    }
    .cart-container{
      padding-left: 8px;
      padding-right: 2px;
    }
    .cart-title-div{
      h4{font-size: 18px;}
      .fa-heart{font-size: 18px;}
    }
    .cart-product-name{
      h2{font-size: 12px;}
    }
    .empty-cart-text-main{
      font-size: 14px;
    }
    .empty-cart-text{
      font-size: 12px;
    }
    .fa-shopping-bag{
      font-size: 45px;
    }
    .cart-product-img-div{
      width: 25%;
      margin-right: 5px;
    }
    input[type="number"] {
      width: 20px;
      margin-top: 2px;
      font-size: 12px;
    }
    .fa-times-circle{
      font-size: 12px;
    }
    .cart-product-unit-price, .cart-product-total-price, .cart-total-price, .cart-total-title{
      font-size: 10px;
    }
    .cart-total-amount-sku{
      font-size: 12px;
    }
    .update-amount-btns-size{
      .btn{font-size: 12px;}
    }
    .update-amount{
      form{ height: 27px;}
    }
    .cart-product-img{
      visibility: visible;  
    }
  }
}

@media screen and (min-width: $tablet) {
  body {
    .product-cards-container {
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      max-width: 57vw;
    }
    .product-card-name{
      font-size: 16px;
      height: 40px;
    }
    .buy-button{
      height: 50px;
    }
    .cart-container{
      padding-left: 14px;
      padding-right: 7px;
    }
    .cart-title-div{
      h4{font-size: 20px;}
      .fa-heart{font-size: 20px;}
    }
    .empty-cart-text-main{
      font-size: 16px;
    }
    .empty-cart-text{
      font-size: 14px;
    }
    .fa-shopping-bag{
      font-size: 55px;
    }
    .cart-product-img-div{
      width: 25%;
      margin-right: 5px;
    }
    input[type="number"] {
      width: 20px;
      font-size: 12px;
      margin-top: 5px;
    }
    .cart-product-unit-price, .cart-product-total-price, .cart-total-price, .cart-total-title{
      font-size: 12px;
    }
    .cart-total-amount-sku{
      font-size: 12px;
    }
   }
}

@media screen and (min-width: $laptop) {
  body {
    .product-card-name{
      font-size: 18px;
      height: 42px;
    }
    .buy-button{
      height: 55px;
    }
    .cart-product-name{
      h2{font-size: 16px;}
    }
    .empty-cart-text-main{
      font-size: 18px;
    }
    .fa-shopping-bag{
      font-size: 65px;
    }
    .cart-product-img-div{
      width: 25%;
    }
    input[type="number"] {
      width: 25px;
      font-size: 16px;
      margin-top: 5px;
    }
    .fa-times-circle{
      font-size: 16px;
    }
    .cart-product-unit-price, .cart-product-total-price, .cart-total-price, .cart-total-title{
      font-size: 16px;
    }
    .cart-total-amount-sku{
      font-size: 12px;
    }
  }
}

@media screen and (min-width: $desktop) {
  body{
    .product-cards-container{
      width: 100%;
      max-width: 70vw;
    }
    .product-card-name{
      font-size: 20px;
    }
    .buy-button{
      height: 60px;
    }
    .cart-container{
      padding-left: 18px;
      padding-right: 10px;
    }
    .cart-product-name{
      h2{font-size: 16px;}
    }
    .cart-product-img-div{
      width: 25%;
    }
    input[type="number"] {
      width: 28px;
      font-size: 16px;
      margin-top: 0;
    }
    .fa-times-circle{
      font-size: 16px;
    }
    .cart-product-unit-price, .cart-product-total-price, .cart-total-price, .cart-total-title{
      font-size: 16px;
    }
    .cart-total-amount-sku{
      font-size: 12px;
    }
  }
}
