<div class="cart-products-container d-flex">
  <% @cart_skus each do |sku| %>
    <div class="cart-product-card">
      <div class="cart-product-img-div"></div>
      <div class="cart-product-infos">
        <div class="cart-product-name"></div>
        <div class="cart-product-amount"></div>
        <div class="cart-product-total-price"></div>
      </div>
    </div>
  <% end %>
</div>
