<div class="container">
  <div class="product-cards-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <div class="product-card-img-div">
          <%= cl_image_tag product.photo.key, class: "product-card-img" %>
        </div>
        <div class="product-card-info">
          <span class="product-card-name"><%= product.name %></span>
          <span class="product-card-price"><%= product.sku.price %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
