@media screen and (min-width: 576px) {
  .product-cards-container {
    grid-template-columns: 1fr;
    
  }
}

@media screen and (min-width: 768px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60vw;
  }

}

.cart-container{
  width: 40vw;
  height: 100%;
}

.product-cards-container{
  display: grid;
  grid-gap: 16px;
  border-right: 1px solid #c4c8cc;
}

.product-card{
  width: 100%;
}

.product-card-info{
  width: 100%;
}

.product-card-img-div{
  width: 100%;
}
.product-card-img{
  width: 100%;
  object-fit: cover;
}
