.cart-container{
  width: 40vw;
  height: 100%;
  position: sticky;
  top: 5%;
}

.product-cards-container{
  display: grid;
  grid-gap: 16px;
  border-right: 1px solid #c4c8cc;
}

.product-card{
  width: 100%;
}

.product-card-info{
  width: 100%;
}

.product-card-img-div{
  width: 100%;
}
.product-card-img{
  width: 100%;
  object-fit: cover;
}

.product-card-name{
  font-weight: 700;
  transition: all 300ms ease;
  max-height: max-content;
  &:hover{
    color: $purple;
  }
}
