@media screen and (min-width: 576px) {
  .product-cards-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-cards-container{
  display: grid;
  grid-gap: 16px;
  height: 100%;
}
.product-card{
  height: 100%;
}


.product-card{
  height: 30vh;
}

.product-card-img-div{
  height: 70%;
}
.product-card-img{
  height: 100%;
  object-fit: cover;
}

.cart-container{
  width: 30vw;
  border: 1px solid grey;
  
}