.cart-title-div{
  h4{
    font-weight: 700;
    margin: 0;
    margin-left: 5px;
  }
  .fa-heart{
    font-size: 30px;
    font-weight: lighter;
  }
}
.cart-product-img-div{
  width: 25%;
}

.cart-product-img{
  width: 100%;
  object-fit: cover;
}

.fa-shopping-bag{
  font-size: 70px;

}

.empty-cart-message{
  color: rgb(51, 51, 51);
}

.empty-cart-text-main{
  font-family: $titles-font;
  font-size: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 45px;
  text-align: center;
  border: none;
}

input[type="number"]:disabled {
  background-color: $background;
}
input[type="number"]:focus{
  outline:none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-product-name{
  h2{font-weight: 700;}
}

.cart-total-title{
  font-weight: 700;
  font-size:18px;
}

.update-amount{
  border: 1px solid #c4c8cc;
  border-radius: 5%;
  color: $font;
  font-family: $titles-font;
  margin: 0;
  height: min-content;
  form{
    height: 33px;
    input{
      padding:0;
      height: 100%;
    }
  }
}

.cart-product-numbers{
  margin-top: auto;
}

.cart-product-total-price, .cart-total-price{
  font-weight: 700;
}
